
body{

background-image: url("https://static1.squarespace.com/static/55f60aa7e4b0b65087bd3da7/t/58fd53212e69cf0c60b83c4a/1460564705877/");
color: silver;
background-repeat: no-repeat; 
width: 100%; 
position: absolute;
top: 0;
left: 0;
background-size: cover;
  
}

h1{

padding: 20px 10px;
background-color: #001400;
text-align: center;
margin-right: 300px;
margin-left: 300px;
font-size: 50px;
text-shadow: 4px 4px darkred;
border-radius: 8px;
border-style: solid;
}


p{
background-color: #0395a5;
text-align: center;
margin-right: 500px;
margin-left: 500px;
border-radius: 8px;
color: gold;
border-style: solid;



}

h2{
background-color: #a5030b;
text-align: center;
margin-right: 400px;
margin-left: 400px;
border-radius: 8px;
border-style: solid;
margin-bottom: 60px;

}

#botton{
background-color: green;
border-style: dotted;
border-radius: 20px;
font-size: 30px;
padding: 10px 120px;
text-shadow: 2px 2px silver;
color: darkred;
text-align: center;




}
